html {
    height: 100%;
}

body {
    background-color: #191919;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
    height: 100%;
    font-family: 'Open Sans', serif;
}

#name {
    font-size: 3em;
    color: #bbb;
}

#upper {
    font-size: 1.5em;
    color: #eee;
    text-align: center;
    margin: 0 0.5em;
}

#info {
    color: #eee;
    font-size: 2.3em;
    text-align: center;
    margin: 0 1em;
}

a {
    color: #eee;
    text-decoration: none;
}

footer {
    color: #eee;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 1.25em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
    text-align: center;
}

#upper br {
    display: none;
}

#secret {
    color: #191919;
}

.button {
    border-radius: 10px;
    background-color: #bbb;
    border: none;
    color: black;
    text-align: center;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}